/* general */

:root{
    --color-header: #ff6900;
    --color-footer: #1a1a1a;
    --color-red: #ff0000;
    --color-accessory: #008000;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    padding-right: 10px;
    color: #ffffff;
}

a:hover{
    text-decoration: underline;
}

/* flex utility */

.d-flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    align-content: center;
}

.f-center{
    justify-content: center;
}

.f-between{
    justify-content: space-between;
}

/* header */

.head-wrapper{
    background-color: var(--color-header);
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    box-shadow: 0 1px 3px #666;
}

.head-wrapper .container{
    padding: 0 10px;
}

#logo{
    max-width: 130px;
}

nav.container div{
    width: 20%;
} 

.icons{
    justify-content: flex-end;
}

/* main */

main{
    padding-top: 150px;
}

.card-container{
    width: calc(100% / 3);
    min-width: 300px;
    padding: 0 10px 50px;
}

/* inizio cards */

.image-part{
    position: relative;
}

.heart{
    padding: 0 15px;
    font-size: 2em;
    background-color: #ffffff;
    position: absolute;
    top: 10px;
    right: 0;    
}

.red-hov:hover{
    color: var(--color-red);
    cursor: pointer;
}

.discount{
    background-color: var(--color-red);
    padding: 5px 10px;
}

.sost{
    background-color: var(--color-accessory);
    padding: 5px 10px;
}

.labels{
    font-size: 0.8em;
    font-weight: bold;
    color: #ffffff;
    position: absolute;
    left: 0;
    bottom: 50px;
}

.card img{
    width: 100%;
}

.hov{
    display: none;
}

.no-hov:hover + .hov{
    display: inline-block;
}

.no-hov:hover{
    opacity: 0;
    position: absolute;
}

.card h2{
    font-size: 1.2em;
    text-transform: uppercase;
}

.act-price{
    color: var(--color-red);
    font-weight: bold;
    padding-right: 0.6em;
}

.act-price + span{
    text-decoration: line-through;
}
/* fine cards */

/* footer */

footer{
    background-color: var(--color-footer);
    color: #ffffff;
}

footer .container{
    padding-bottom: 50px;
}

footer .container h3, aside{
    padding-top: 40px;
}

footer ul{
    padding-top: 20px;
}

footer ul i{
    font-size: 1.5em;
}

footer .left-side ul{
    font-size: 0.8em;
}